@model StreamPowered.App.Models.ViewModels.GameDetailsViewModel
@{
    ViewBag.Title = "GameDetails";
}
<div class="col-sm-8 col-sm-offset-1">
    <h2>Game Details</h2>
    <h3>
        @Model.Title
        <span class="badge">avg-rating @String.Format("{0:0.00}", @Model.AverageRating)</span>
    </h3>
    <p>
        <span class="glyphicon glyphicon-user"></span>
        @Model.Author
    </p>
    <h4>
        Genre:
        @Html.ActionLink(Model.Genre, "GamesByGenre", "Genres", new { id = Model.GenreId }, new { @class = "btn btn-default" })
    </h4>
    <h4>Description:</h4>
    <div class="well">@Model.Description</div>
    <h4>System Requirements:</h4>
    <pre>@Model.SystemRequirements</pre>
</div>
@if (this.User.Identity.IsAuthenticated)
{
    @Html.Partial("_RatingPartial")
}
<div class="row">
    @if (Model.ImageUrls.Any())
    {
        foreach (var image in Model.ImageUrls)
        {
            <div class="col-sm-4 well" style="margin-bottom: 0;">
                <img src="@image.Url" alt="img-@image.Id" width="350" height="170" />
            </div>
        }
    }
    else
    {
        <div class="col-sm-4 well" style="margin-bottom: 0;">
            <img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcTcxkzEgyl-zV6_9zmZa6v1MWlxAPMshubXubjUSfCzqhQQ9NWE" alt="img-default" width="350" height="170" />
        </div>
    }
        </div>
@if (this.User.Identity.IsAuthenticated)
{
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
            @Html.Partial("_AddReviewPartial")

            @if (Model.Reviews.Any())
            {
                @Html.DisplayFor(g => g.Reviews)
            }
            else
            {
                <p>No reviews</p>
            }

        </div>
    </div>
}
else
{
    <div class="row well">
        <p>Reviews count: <strong>@Model.Reviews.Count()</strong></p>
    </div>
}


@section scripts{
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script>
        function onSuccess() {
            document.getElementById("content").value = '';
        }

        function onSuccessOne() {
            $('#one').css('color', 'red');
        }

        function onSuccessTwo() {
            $('#two').css('color', 'red');
        }

        function onSuccessThtee() {
            $('#three').css('color', 'red');
        }

        function onSuccessFour() {
            $('#four').css('color', 'red');
        }

        function onSuccessFive() {
            $('#five').css('color', 'red');
        }
    </script>
}