@model BookStore.Models.Category

@{
    ViewBag.Title = "Best Sellers";
}

<div class="row">
    <h2 class="text-center">Best Sellers</h2>
    @Html.ActionLink("<< New Books", "NewBooks", "Books", null, new { @class = "btn btn-default pull-left" })
    @Html.ActionLink("Promotions >>", "Promotions", "Books", null, new { @class = "btn btn-default pull-right" })
</div>
<div class="row">
    @foreach (var book in Model.Books)
    {
        <div class="col-md-4 books-list">
            <div class="row text-center books-list-title">
                <h4>@Html.DisplayFor(modelItem => book.Title)</h4>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <a href="/Books/Details/@book.Id"><img src="@book.ImageUrl" alt="tweet" class="img-thumbnail" /></a>
                </div>
                <div class="col-md-8">
                    <p>
                        <span>by </span>
                        @foreach (var author in book.Authors)
                        {
                            <span class="text-center">
                                @Html.ActionLink(author.FullName, "BooksByAuthor", "Authors", new { authorName = author.FullName })
                            </span>
                        }
                    </p>
                    <p>Lang - @Html.DisplayFor(modelItem => book.Language)</p>
                    <p>Price: @Html.DisplayFor(modelItem => book.Price)lv.</p>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-md-6">
                    <a href="Details/@book.Id" class="btn btn-default">Add To Basket</a>
                </div>
                @*@Html.ActionLink("Edit", "Edit", new { id = item.Id })*@
                <div class="col-md-6">
                    <a href="Details/@book.Id" class="btn btn-default">See more &raquo;</a>
                </div>
            </div>
        </div>
    }
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
