@model Twitter.Web.ViewModels.UserViewModel

<div class="jumbotron">
    <div class="row">
        <div class="col-sm-6">
            <img src="@Model.AvatarUrl" alt="@Model.UserName avatar" width="200" height="160"/>
            <h2>@Html.DisplayFor(model => model.UserName)</h2>
        </div>
        <div class="col-sm-6">
            <p>@Html.DisplayNameFor(model => model.Email): @Html.DisplayFor(x => x.Email)</p>
            <p>@Html.DisplayNameFor(model => model.FullName): @Html.DisplayFor(x => x.FullName)</p>
            <p>
                @Html.DisplayNameFor(model => model.ContactInfo.Facebook):
                <a href="https://facebook.com/" @Html.DisplayFor(model => model.ContactInfo.Facebook)>Facebook</a>
            </p>
            <p>
                <span>Tweets: @Model.TweetCount</span>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            @Html.ActionLink("Notifications: " + @Model.NotificationCount, "UserNotifications", "", new { @class = "btn btn-danger" })
        </div>
        <div class="col-sm-3">
            @Html.ActionLink("Messages: " + @Model.MessagesCount, "UserMessages", "", new { @class = "btn btn-warning" })
        </div>
        <div class="col-sm-3">
            @Html.ActionLink("Followers: ", "UserFans", "", new { @class = "btn btn-success" })
        </div>
        <div class="col-sm-3">
            @Html.ActionLink("Following: ", "UserFollowing", "", new { @class = "btn btn-primary" })
        </div>
    </div>
</div>
