@model Twitter.Web.ViewModels.UserViewModel

<div class="jumbotron">
    <div class="row">
        <div class="col-sm-6">
            <img src="@Model.AvatarUrl" alt="@Model.UserName avatar" width="200" />
        </div>
        <div class="col-sm-6">
            <h2>@Html.DisplayFor(x => x.UserName)</h2>
            <p>@Html.DisplayNameFor(x => x.Email): @Html.DisplayFor(x => x.Email)</p>
            <p>@Html.DisplayNameFor(x => x.FullName): @Html.DisplayFor(x => x.FullName)</p>
            <p>
                @Html.DisplayNameFor(x => x.ContactInfo.Facebook):
                <a href="https://facebook.com/" @Html.DisplayFor(x => x.ContactInfo.Facebook)>Facebook</a>
            </p>
        </div>
    </div>
</div>
<div class="row">
    <p>Tweets: @Html.DisplayFor(x => x.TweetCount)</p>
</div>
<div class="row">
    <h2>All Tweets:</h2>
    <!-- get All Tweets from folder Shared/DisplayTemplates/TweetViewModel.cshtml -->
    @Html.DisplayFor(x => x.Tweets)

    @section scripts{
        @Scripts.Render("~/bundles/jqueryval")
    }
</div>
