@model IEnumerable<Twitter.Web.ViewModels.FavoritesViewModel>

@{
    ViewBag.Title = "UserFavoriteTweets";
}

<div class="well">
    <h2>My Favorite Tweets</h2>
</div>

<div class="row">
    @foreach (var favorite in Model)
    {
        <div class="col-sm-6 well">
            <img src="@favorite.AuthorAvatar" alt="@favorite.Author-img" width="50" height="50" /> by <b>@favorite.Author</b>
            <h4>@favorite.Title</h4>
            <p>Category: <b>@favorite.Category</b>, <em>posted on <b>@favorite.SentToDate</b> by <b>@favorite.Author</b></em></p>
            <div class="col-sm-6">@favorite.Details</div>
            <div class="col-sm-6"><img src="@favorite.ImageUrl" alt="@favorite.Title img" width="200" /></div>
            <div class="row">
                <div class="col-sm-6">
                    <p><span class="glyphicon glyphicon-retweet"></span> @favorite.RetweetsCount</p>
                </div>
                <div class="col-sm-6">
                    <p><span class="glyphicon glyphicon-star-empty"></span> @favorite.FavoriteCount</p>
                </div>
            </div>
        </div>
    }
</div>