@model Twitter.Web.ViewModels.TweetViewModel

<div class="col-sm-4">
    <h4>@Model.Title</h4>
    <p>@Model.Details</p>
    <em>@Model.SentToDate by @Model.Author</em>
    <img src="@Model.ImageUrl" alt="@Model.Title img" width="260" height="200" />
    <p>Category: @Model.CategoryName</p>
</div>