@model Twitter.Web.ViewModels.UserTweetViewModel

<div class="col-sm-6 well">
    <h4>@Model.Title</h4>
    <p>Category: <b>@Model.CategoryName </b><em>posted on<b>@Model.SentToDate</b></em></p>
    <div class="col-sm-6"><p>@Model.Details</p></div>
    <div class="col-sm-6">
        <img src="@Model.ImageUrl" alt="@Model.Title img" width="260" height="200" />
     </div>
        <div class="row">
            <div class="col-sm-4">
                <p><span class="glyphicon glyphicon-star-empty"></span> @Model.FavoriteCount</p>
                @foreach (var fan in Model.Fans)
                {
                    @fan
                }
            </div>

            <div class="col-sm-8">
                <p><span class="glyphicon glyphicon-retweet"></span> @Model.RetweetsCount</p>
                @foreach (var item in Model.Retweets)
                {
                    <p>
                        <img src="@item.RetweeterAvatar" alt="@item.Retweeter-img" width="25" height="25" />
                        <span>by <b>@item.Retweeter</b></span>
                    </p>
                    <p><b>@item.Title</b> <em>posted on <b>@item.SentToDate</b></em></p>
                    <div class="col-sm-6"><p>@item.Details</p></div>
                    <div class="col-sm-6">
                        <img src="@item.ImageUrl" alt="@item.Title-img" width="150" height="100" />
                    </div>
                }
            </div>
        </div>
    </div>