@using System.Globalization
@using Microsoft.AspNet.Identity
@model Snippy.App.Models.ViewModels.CommentViewModel

<div class="row well">
    @if(Model.Author == this.User.Identity.GetUserName())
    {
        <div class="pull-right">
            @Html.ActionLink("X", "CommentDetails", "Comments", new { id = @Model.Id }, new { @class = "btn btn-danger", id = "delete"})
        </div>
        <div class="pull-right">
            @Html.ActionLink("Edit", "EditCommentDetails", "Comments", new { id = @Model.Id }, new { @class = "btn btn-warning", id = "edit" })
        </div>
    }
    
    <p>@Model.Content</p>
    <p>
        <em>
            by <strong>@Model.Author</strong>
            on @Model.CreationTime.ToString("dd-MMM-yyyy hh:mm:ss", CultureInfo.InvariantCulture)
        </em>
    </p>
</div>


