@model Snippy.App.Models.ViewModels.SnippetsByLabelViewModel

<div class="panel panel-primary">
    <div class="panel-body">
        <h4>
            @Model.Language
            @Html.ActionLink(@Model.Title, "SnippetDetails", "Snippets", new {id = @Model.Id }, null)
        </h4>
        <p>by <strong>@Model.Author</strong></p>
    </div>
</div>