@model Snippy.App.Models.ViewModels.UserSnippetViewModel

<div class="row">
    <div class="panel panel-primary">
        <div class="panel-body">
            <h3>
                @Html.ActionLink(@Model.Language, "SnippetsByLanguage", "Languages", new { text = @Model.Language }, null)
                @Model.Title
            </h3>
            <h4>@Model.Description</h4>
            <div class="well col-sm-10 col-sm-offset-1">
                <pre style="width:400px; margin: auto;">
                <code>@Model.Code</code>
    </pre>

                @foreach (var label in Model.Labels)
                {
                    @Html.ActionLink(@label.Text, "SnippetsByLabel", "Labels", new { id = @label.Id }, new { @class = "btn btn-default" })
                }
            </div>
        </div>
        <div class="row">
            <div class="panel panel-info">
                <div class="panel-body">
                    <p>Comments:</p>
                    @Html.DisplayFor(s => s.Comments)                   
                </div>
            </div>
        </div>
    </div>
</div>


