@model Snippy.App.Models.ViewModels.UserDetailsViewModel

<div class="row">
    <div class="col-sm-4">
        <h1><span class="glyphicon glyphicon-user"></span> @Model.UserName</h1>
        <p><span class="glyphicon glyphicon-envelope"></span> @Model.Email</p>
        <p><span class="glyphicon glyphicon-phone"></span> @Model.PhoneNumber</p>
    </div>
    <div class="col-sm-4 well" id="userBanner"></div>
    <div class="col-sm-4">
        <p>
            <span class="badge">
                <span class="glyphicon glyphicon-cog"></span>
            </span>
            @Html.ActionLink("Edit Profile", "EditUserDetails", "Users", routeValues: null, htmlAttributes: new { @class = "btn btn-default btn-lg" })
        </p>
        <p>
            <span class="badge">
                <span class="glyphicon glyphicon-search"></span>
            </span>
            @Html.ActionLink("Search User", "SearchUser", "Users", routeValues: null, htmlAttributes: new { @class = "btn btn-default btn-lg" })
            @Html.ActionLink("Search Snippet", "SearchSnippet", "Snippets", routeValues: null, htmlAttributes: new { @class = "btn btn-default btn-lg" })
        </p>
        <p>
            <span class="badge">
                <span class="glyphicon glyphicon-pencil"></span>
            </span>
            @Html.ActionLink("Add Snippet", "SearchByLanguage", "Languages", routeValues: null, htmlAttributes: new { @class = "btn btn-default btn-lg" })
        </p>
    </div>
</div>
<div class="row">
    <h3>My Snippets - <span class="badge">@Model.SnippetCount</span></h3>
    <ul class="pagination">
        @for (int page = 1; page <= ViewBag.TotalPages; page++)
        {
            string listItemClass = "";
            if (page == ViewBag.CurrentPage)
            {
                listItemClass = "active";
            }

            <li class="@listItemClass">
                @Html.ActionLink(page.ToString(), "UserDetails", "Users", routeValues: new { username = @Model.UserName, page = page, count = 3 }, htmlAttributes: null)
            </li>
        }
    </ul>
</div>