@model IEnumerable<Twitter.Web.ViewModels.UserViewModel>

@foreach (var user in Model)
{
    <div class="col-sm-4">
        <h4><a href="User/@user.UserName">@user.UserName</a></h4>
        <img src="@user.AvatarUrl" alt="@user.UserName-img" width="200" height="160"/>
        <p>Full Name: @user.FullName</p>
        <p>Email: @user.Email</p>
        <p>Tweets: @user.TweetCount</p>
    </div>
}
