@model IEnumerable<Twitter.Web.ViewModels.UserViewModel>

@foreach (var user in Model)
{
    <div class="col-sm-3 well">
        <h4>
            <a href="User/@user.UserName"
               data-toggle="tooltip"
               title="Full Name: @user.FullName, Tweets: @user.TweetCount">
                @user.UserName
            </a>
        </h4>
        <img src="@user.AvatarUrl" alt="@user.UserName-img" width="150" class="img-circle"/>
    </div>
}
