@using BookStore.Models
@model IEnumerable<Book>

@{
    ViewBag.Title = "Books By Title";
}

@if (@Model != null)
{
    <div class="row">
        <h2 class="text-center">Books By Title</h2>
        @Html.ActionLink("<< Best Sellers", "BestSellers", "Categories", null, new { @class = "btn btn-default pull-left" })
        @Html.ActionLink("Promotions >>", "Promotions", "Books", null, new { @class = "btn btn-default pull-right" })
    </div>

    <div class="row">
        @foreach (var book in Model)
        {
            <div class="col-md-4 books-list">
                <div class="row text-center books-list-title">
                    <h4>@Html.DisplayFor(b => book.Title)</h4>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <a href="/Books/Details/@book.Id"><img src="@book.ImageUrl" alt="tweet" class="img-thumbnail" /></a>
                    </div>
                    <div class="col-md-8">
                        <p>
                            <span>by </span>
                            @foreach (var author in book.Authors)
                            {
                                <span class="text-center">
                                    @Html.ActionLink(author.FullName, "BooksByAuthor", "Authors", new { authorName = author.FullName })
                                </span>
                            }
                        </p>
                        <p>Lang - @Html.DisplayFor(b => book.Language)</p>
                        <p>Price: @Html.DisplayFor(b => book.Price)lv.</p>
                       
                        @using (Html.BeginForm("FavoriteBooks", "Users", FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()
                            @Html.HiddenFor(b => book.Id)
                            <div class="form-actions no-color">
                                <p>       
                                    <button type="submit"  value="Add to Favorite" class="btn btn-default btn-sm">
                                        <span class="glyphicon glyphicon-heart"></span>
                                    </button>
                                </p>
                            </div>
                        }
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-md-6">
                        @using (Html.BeginForm("AddToBasket", "Baskets", FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()
                            @Html.HiddenFor(b => book.Id)
                            <div class="form-actions no-color">
                                <input type="submit" value="AddToBasket" class="btn btn-default" />
                            </div>
                        }
                    </div>       
                    <div class="col-md-6">
                        <a href="Details/@book.Id" class="btn btn-default">See more &raquo;</a>
                    </div>
                </div>
            </div>
        }
    </div>
}

