@model BookStore.Models.ViewModels.Book.BookDetailsViewModel

@{
    ViewBag.Title = "Book's Details";
}

<hr />
<div class="row">
    <div class="col-md-8 col-md-offset-2 book-details-div">
        <div class="row text-center books-list-title">
            <h3>@Html.DisplayFor(book => book.Title)</h3>
        </div>
        <div class="row">
            <div class="col-md-5 img-rounded">
                <img src="@Model.ImageUrl" alt="book-img" class="img img-responsive" width="100%" />
            </div>
            <div class="col-md-7">
                <h4>
                    <span>by </span>
                    @foreach (var author in Model.Authors)
                    {
                        <span class="text-center">
                            @Html.ActionLink(author.FullName, "BooksByAuthor", "Authors", new { authorName = author.FullName }, null)
                        </span>
                    }
                </h4>
                <p>Lang - @Html.DisplayFor(book => book.Language)</p>
                <p>ISBN - @Html.DisplayFor(book => book.ISBN)</p>
                <p>Quantity - @Html.DisplayFor(book => book.Quantity)</p>
                <p>Number Of Pages - @Html.DisplayFor(book => book.NumberOfPages)</p>
                <p>Issue Date - @Html.DisplayFor(book => book.IssueDate)</p>
                <p class="lead">Price: @Html.DisplayFor(book => book.Price)</p>
                <p>
                    <ul>Categories:
                        @foreach (var category in Model.Categories)
                        {
                            <li>@Html.DisplayFor(c => category.Name)</li>
                        }
                    </ul>
                </p>
                <hr />
                <div class="row">
                    <p>
                        <span class="lead add-rating">Rating - @Html.DisplayFor(book => book.Ratings)</span>
                    </p>
                </div>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-md-10 col-lg-offset-1">
                <h4>Description:</h4>
                <p>@Html.DisplayFor(book => book.Description)</p>
            </div>
        </div>
        <hr />
        <div class="row">
            @*acordion*@
            Reviews: To Do
        </div>
    </div>
</div>

@section Scripts {
    <script>
        var acc = document.getElementsByClassName("accordion");
        var i;

        for (i = 0; i < acc.length; i++) {
            acc[i].onclick = function () {
                this.classList.toggle("active");
                var panel = this.nextElementSibling;

                if (panel.style.display === "block") {
                    panel.style.display = "none";
                } else {
                    panel.style.display = "block";
                }
            }
        }
    </script>
}