@model IEnumerable<Snippy.Models.ProgrammingLanguage>

@{
    ViewBag.Title = "SearchSnippetByLanguage";
}

<h2>Search Snippet By Programming Language</h2>
<div class="row">
    <div class="col-sm-8">
        <div class="panel panel-primary">
            <div class="panel-heading">
                @using (Html.BeginForm("SearchByLanguage", "Languages", FormMethod.Get, null))
                {
                    <p>
                        <label>Search Programming Language:</label>
                        @Html.TextBox("SearchString", null, null, new { @class = "form-control", placeholder = "input string" })
                        <input type="submit" value="Filter" class="btn btn-default" />
                    </p>
                }
            </div>
            <div class="panel-body">
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th><span class="glyphicon glyphicon-search"></span></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var language in Model)
                        {
                            <tr>
                                <td>@language.Name</td>
                                <td>
                                    @Html.ActionLink("Search Snippet or Add New Snippet in this language",
                                        "SnippetsByLanguage",
                                        "Languages",
                                        new { id = @language.Id },
                                        new { @class = "btn btn-default" })
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="col-sm-4">
        <div class="panel panel-primary">
            <div id="newLanguages" class="panel-body"></div>
            <div class="panel-footer">
                <h4>Add Programming Language</h4>

                @using (Ajax.BeginForm("AddLanguage", "Languages", null, new AjaxOptions()
                            {
                                HttpMethod = "POST",
                                InsertionMode = InsertionMode.InsertAfter,
                                UpdateTargetId = "newLanguages",
                                OnSuccess = "onSuccess"
                            }))
                {
                    @Html.AntiForgeryToken()
                    <input type="text" id="name" name="name" value="" class="form-control" />
                    <input type="submit" value="Add" class="btn btn-default" />
                }
            </div>
        </div>
        
        <div class="panel panel-primary">
            <div class="panel-body">
                @Html.ActionLink("Search Snippet by Label", "SearchByLabel", "Labels", null, new { @class = "btn btn-default btn-lg" })
                <p></p>
                @Html.ActionLink("Search Snippet by Title", "SearchSnippet", "Snippets", null, new { @class = "btn btn-default btn-lg" })
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script>
        function onSuccess() {
            document.getElementById("name").value = '';
        }
    </script>
}