@using System.Globalization
@model IEnumerable<Snippy.Models.Snippet>
@{
    ViewBag.Title = "SearchSnippet";
}

<h2>Search Snippet By Title</h2>
<div class="row">
    <div class="col-sm-8">
        <div class="panel panel-primary">
            <div class="panel-heading">
                @using (Html.BeginForm("SearchSnippet", "Snippets", FormMethod.Get, null))
                {
                    <p>
                        <label>By Title:</label>
                        @Html.TextBox("SearchString", null, null, new { @class = "form-control", placeholder = "input string" })
                        <input type="submit" value="Filter" class="btn btn-default" />
                    </p>
                }
            </div>
            <div class="panel-body">
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.Title)</th>
                            <th>@Html.DisplayNameFor(model => model.Description)</th>
                            <th>@Html.DisplayNameFor(model => model.CreationTime)</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var snippet in Model)
                        {
                            <tr>
                                <td>
                                    @Html.ActionLink(@WebUtility.HtmlDecode(@snippet.Title), "SnippetDetails", "Snippets", new { snippetId = @snippet.Id }, new { id = "details"})
                                </td>
                                <td>@WebUtility.HtmlDecode(@snippet.Description)</td>
                                <td>@snippet.CreationTime.ToString("dd-MMM-yyyy hh:mm:ss", CultureInfo.InvariantCulture)</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="panel panel-primary">
            <div class="panel-body">
                @Html.ActionLink("Search Snippet by Language", "SearchByLanguage", "Languages", null, new { @class = "btn btn-default btn-lg" })
                <p></p>
                @Html.ActionLink("Search Snippet by Label", "SearchByLabel", "Labels", null, new { @class = "btn btn-default btn-lg" })
            </div>
        </div>
    </div>
</div>
