@model Twitter.Models.Message
@{
    ViewBag.Title = "NewMessageDetails";
}

<h2>New Message Details</h2>
<div class="row">
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Title</th>
                <th>Content</th>
                <th>SentToDate</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Model.Title</td>
                <td>@Model.Content</td>
                <td>@Model.SentToDate</td>
                <td>
                       @Html.ActionLink("Delete", "Delete", "Messages", new { id = @Model.Id }, new { @class = "btn btn-default btn-sm" }) )
                </td>
            </tr>
        </tbody>
    </table>
</div>
