<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Bookstore Imagination</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="container-fluid" id="top">
        <div class="row text-center home">
            <div>
                <h1>Bookstore <span>&quot;Imagination&quot;</span></h1>
            </div>
            <div>
                <h3 class="lead">Spend your days with imagination.</h3>
            </div>
            <div>
                <h4 class="lead">Spend your money at Bookstore &quot;Imagination&quot;</h4>
            </div>
            @Html.Partial("_MessagesPartial")
        </div>
    </div>
    <nav class="navbar navbar-inverse" data-spy="affix" data-offset-top="97">
        <div class="container">

            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <ul class="nav navbar-nav">
                    @if (User.IsInRole("Admin"))
                    {
                        <li class="navbar-brand btn btn-default lead">
                            @Html.ActionLink("Admin panel", "AllCategories", "Categories", new { area = "Admin" }, new { @class = "navbar-brand btn btn-default" })
                        </li>
                    }
                    <li>
                        <a href="/Home/Index" class="navbar-brand btn btn-default">
                            <img src="~/Content/Images/NavBar/home-2-64.png" class="img-rounded" alt="home-icon" />
                            <p class="carousel-caption">home</p>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="navbar-collapse collapse">
                @Html.Partial("_NavbarDropdawnSearchPartial")
                @Html.Partial("_NavbarDropdownMenuPartial")
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </nav>

    <div class="container-fluid user-body-content">
        @Html.Partial("_BackNextTopButtonsPartial")
        
        @RenderBody()
        <hr />
        @Html.Partial("_Footer")
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
