<ul class="nav navbar-nav">
    <li class="dropdown">
        <a href="#" class="dropdown-toggle btn btn-default" data-toggle="dropdown">
            <img src="~/Content/Images/menu-icon.png"/>
            <b class="caret"></b>
            <p class="carousel-caption lead">menu</p>
        </a>

        <ul class="dropdown-menu">
            <li>@Html.ActionLink("Terms and Conditions", "TermsAndConditions", "Home")</li>
            <li class="divider"></li>

            <li>@Html.ActionLink("New Books", "NewBooks", "Books")</li>
            <li>@Html.ActionLink("Promotions", "Promotions", "Books")</li>    

            <li class="divider"></li>
            <li>@Html.ActionLink("Best Sellers", "BestSellers", "Categories")</li>
            <li>@Html.ActionLink("All Categories", "All", "Categories")</li>

            <li class="divider"></li>
            <li>@Html.ActionLink("All Authors", "All", "Authors")</li>
            <li></li>
        </ul>

    </li>
</ul> 
